h1{
    font-style: italic;
    color: rgb(192, 182, 38);
    margin: 30px;
    text-align: center;
}
/* 背景图片 */
#xx{
    background-image:url("./001.jpg");
    background-size: cover;
    
}
/* 食物 */
#food{  
    width: 20px;
    height: 20px;
    background-color: #120f88;
    position: absolute;
    /* left:40px;
    top: 20px; */
    
}

/* #snake{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color:#112343;
    left:0px;
    top:0px;
    
} */
/* 蛇头 */
#snake{
    width: 18px;
    height: 18px;
    background: rgb(245, 72, 230);
    position: absolute;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
/* 蛇的身体 */
#snake1{
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: blueviolet;
    left:0px;
    top:0px;
    /* margin-left: -300px; */
}
/* 地图 */
#map{
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    width: 480px;
    height: 320px;
    background-image: url("./001.jpg");
    background-size: cover;
    /* background-color:rgb(141, 235, 196); */
    color:white;
    text-align:center;
    padding:0px;
    position: relative;
}
/* #play{
    text-align: center;
    font: 1em sans-serif;
    font-size: 10.6px;
    background-color: aliceblue;
} */

/* 玩家显示的渲染 */
#play1{
    text-align: center;
    /* font: 1em sans-serif; */
    position: relative;
    left: -10%;
    font-size: 10.6px;
    color: aqua;
    /* background-color: rgb(217, 182, 238); */
}
#play2{
    text-align: center;   
    /* font: 1em sans-serif; */
    position: relative;
    right: -10%;
    font-size: 10.6px;
    color: aqua;
    /* background-color: rgb(217, 182, 238); */
}

/* 头像 */
#p1{
    text-align: center;
    /* font: 1em sans-serif; */
    position: relative;
    left: -5%;
    font-size: 10.6px;
    background-color: rgb(217, 182, 238);
}
#p2{
    text-align: center;   
    /* font: 1em sans-serif; */
    position: relative;
    right: -4%;
    font-size: 10.6px;
    background-color: rgb(217, 182, 238);
}
/* 时间显示 */
#showtime{
    color:white;
}
/* 得分 */
#out1{
    text-align: center;   
    /* font: 1em sans-serif; */
    position: relative;
    left:  -9%;
    font-size: 10.6px;
    color: chartreuse;
    /* background-color: rgb(217, 182, 238); */
}
#butt{
    text-align: center;
    font-size: 0.6px;
    background-color: aliceblue;
}


h2{
    text-align: center;
}
    
/* 选择框渲染 */
#select{
    text-align: center;
}
.select{
    text-align: center;
    font-size: 1px;
    background-color: #ddd;
}

/* 按钮渲染 */
.div {
    display: inline-block;
    padding: .3em .5em;
    background-image: linear-gradient(#ddd, #bbb);
    border: 0.4px solid rgba(0,0,0,.2);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
    text-align: center;
    text-shadow: 0 1px 1px black;
    color:white;
    font-weight: bold;
    
}
.div:active{
    box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
    border-color: rgba(0,0,0,.3);
    text-align: center;
    background: #bbb;
}
/* 方向键渲染 */
.span {
    display: inline-block;
    padding: .3em .5em;
    background-image: linear-gradient(#ddd, #bbb);
    border: 0.4px solid rgba(0,0,0,.2);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
    text-align: center;
    text-shadow: 0 1px 1px black;
    color:white;
    font-weight: bold;
    
}
.span:active{
    box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
    border-color: rgba(0,0,0,.3);
    text-align:center;
    background: #bbb;
}
/* 方向键位置 */
#up{
    position: absolute;
    left:120%;
    top:65%;
}
#left{
    text-align: center;
    position: absolute;
    left:110%;
    top:80%;
}

#down{
    text-align: center;
    position: absolute;
    left:120%;
    top:80%;
}
#right{
    text-align: center;
    position: absolute;
    left:130%;
    top:80%;
}


.divForm{
    position: absolute;
    width: 350px;
    text-align: center;
    left: 38%;
}

h3{
    text-align: center;
    font-size: 250%;
}

.link{
    position: relative;
    left: 1100px;
    top: 150px;
    white-space: nowrap;
}


